---
import Hero from "../components/Hero.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Title from "../components/Title.astro";

// FAKE DATA FOR TESTING
// const data = [
//   { name: "Hero", icon: "", link: "", status: "enabled" },
//   { name: "Facebook", icon: "", link: "", status: "disabled" },
//   { name: "Instagram", icon: "", link: "", status: "disabled" },
//   { name: "X", icon: "", link: "", status: "disabled" },
//   { name: "LinkedIn", icon: "fab fa-linkedin fa-2x", link: "", status: "disabled" },
//   { name: "BeReal", icon: "", link: "", status: "disabled" },
//   { name: "GitHub", icon: "fab fa-github fa-2x", link: "", status: "disabled" },
// ];

const res = await fetch(
  "https://script.google.com/macros/s/AKfycbw_3lr_W11sLuHrRhCaRo_iVMZDQNceQTINp65TSi1UuGADCkPyNnlzdWUzQXkVzywEEA/exec"
);
const { data } = await res.json();
console.log("check data index", data);
console.log("check data index name", data[0].name);

const pageTitle = data[0].name;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{pageTitle}</title>
  </head>
  <body
    class="grid place-items-center min-h-screen bg-black text-white h-72 bg-[radial-gradient(circle_at_bottom_left,_var(--tw-gradient-stops))] from-slate-600 via-black-600 to-black-600"
  >
    <section class="grid place-items-center min-h-screen">
      <h1 class="text-2xl">
        {data.map((i: (typeof data)[0]) => <Title data={i} />)}
      </h1>
      <div>
        {data.map((i: (typeof data)[0]) => <Hero data={i} />)}
      </div>
      <div>
        <div class="flex">
          {data.map((i: (typeof data)[0]) => <SocialLinks data={i} />)}
        </div>
      </div>
      <footer class="flex text-sm">
        <span class="ml-1 mr-1"
          >{data.map((i: (typeof data)[0]) => <Title data={i} />)}</span
        >
        <span class="ml-1 mr-1">&copy;</span>
        <span class="ml-1 mr-1">
          <script is:inline>
            new Date().getFullYear() > 2010 &&
              document.write(" " + new Date().getFullYear());
          </script></span
        >
      </footer>
    </section>
  </body>
</html>
